*{
  margin: 0;
  padding: 0;
  block-size: border-box;
  /* border: 1px red solid; */
}

body {
  font-family: 'Roboto', sans-serif;
}

.menu {
  color: white;
  background-color: rgb(32, 32, 32);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title h1{
  font-size: 20px;
  font-weight: 800
}

.sing-up a:visited{
  color: white;
}

.sing-up a {
  font-size: 15px;
}

.trybe-logo img{
  width: 50px;
  height: 50px;
}

.trybe-logo {
  height: 50px;
}

.text-dialog h2{
  font-size: 20px;
  margin: 10px;
  display: flex;
  justify-content: center;
  font-weight: 400;
}

.lang-img {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  justify-content: center;
}

.img-logo img {
  height: 120px;
}

.img-logo p {
  height: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.img-logo {
  height: 160px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.header {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.linguagens {
  display: flex;
  align-content: center;
  justify-content: center;
}

.button {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-content: center;
background-color: rgb(245, 245, 245);
border-radius: 15px;
height: 180px;
width: 140px;
margin: 5px;
border: 3px solid rgb(236, 236, 236);
}

.footer {
  width: 55px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-content: center;

}

.link-img img {
  width: 25px;
  height: 25px;
}
