
  
body{
  font-family: Montserrat,sans-serif;
}

  h1 {
    font-size: 65px;
    color: orange;
  }

  ul {
    background-color: bisque;
  }

  .modifyBg {
    background-color: rgb(136, 255, 0);
    font-weight: bold;
    font-style: italic;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
  }
  
  #yelow-line{
    background-color: yellow;
  }

  #red-line{
    background-color: red;
  }

  #brown-line {
    background-color: brown;
  }

